body {
	background-image: url("/layout/images/not_found.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: corbel;
}

h1, h2, h3 {
	color: #303030;
	margin-left: 20px;
	margin-top: 20px;
}

h1 {
	font-size: 75px;
}

h2{
	font-size: 35px;
}

h3{
	font-size: 20px;
}

a {
	color: #00009d;
}