<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Burguer - Unauthorized</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />

<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/error.css}" />
</head>

<body>
	<h1>401</h1>
	<h2>Unauthorized.</h2>
	
		<h3><a href="/">Click here</a> to access the home page.</h3>
</body>

</html>