<!DOCTYPE html>
<html lang="pt" 
		xmlns="http://www.w3.org/1999/xhtml"
	  	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Burguer - Login</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />

<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/login.css}" />
<script th:src="@{/layout/javascripts/login.js}"></script>
</head>

<body>
	<div class="logo"></div>

	<div class="login-block">
		
		<h1>Lucas's Burguer</h1>
			
		<form th:action="@{/authenticate}" th:object="${person}" method="POST">

			<input type="text" id="username" value="" onkeypress="return restrictSpace();" placeholder="Username" th:field="*{login.username}"
			autofocus="autofocus" required="required" /> 
				
			<input type="password" id="password" value="" onkeypress="return restrictSpace();"
			placeholder="Password" th:field="*{login.password}" required="required" />
				
			<input type="submit" class="submit"
			value="LOG IN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" />
			
		</form>
		
	</div>
</body>

</html>