<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Burguer - Snack Request</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/snackRequest.css}" />
</head>

<body>
	<div class="container">
		<form id="contact" action="" method="post">
			<h3>Snack Request</h3>
			<h4>Make your order:</h4>
			<fieldset>
				<input placeholder="Name" type="text" tabindex="1" required="required" autofocus="autofocus"></input>
			</fieldset>
			<fieldset>
				<input placeholder="Address" type="text" tabindex="2" required="required"></input>
			</fieldset>
			<fieldset>
				Snack List: 
				<br /> 
				<select name="Snack List" tabindex="3">
					<option value="x-tudo">Monster</option>
					<option value="x-salada">Salad</option>
					<option value="x-molho">Sauce</option>
					<option value="x-queijo">Cheese</option>
				</select> 
				<br/>
				Cheese: 
				<br/> 
				<select name="Cheese Type" tabindex="3">
					<option value="gorgonzola">Gorgonzola</option>
					<option value="mussarela">Mozzarella</option>
					<option value="parmesão">Parmesan</option>
					<option value="provolone">Provolone</option>
					<option value="ricota">Ricotta</option>
				</select> 
				<br/>
				Filling:
			    <br/>
				<select name="Filling Type" tabindex="3">
					<option value="calabresa">Pepperoni</option>
					<option value="atum">Tuna Fish</option>
					<option value="presunto">Ham</option>
					<option value="salame">Salami</option>
					<option value="ovo">Egg</option>
				</select>
			</fieldset>
			<fieldset>
				<textarea placeholder="Orders Placed..." readonly="readonly"></textarea>
			</fieldset>
		</form>
	</div>
</body>

</html>